Host arc-echo_local
    HostName 192.168.1.249
    User echo
    Port 22

Host arc-ech
    HostName echo-flex.ddns.net
    User echo
    Port 19742

Host echopi_local
    HostName 192.168.1.223
    User echo
    Port 22

Host flip
    HostName flip.engr.oregonstate.edu
    User beerya
    LogLevel error
    Port 22

Host os1
    HostName os1.engr.oregonstate.edu
    User beerya
    LogLevel error
    ProxyJump flip

Host os2
    HostName os2.engr.oregonstate.edu
    User beerya
    LogLevel error
    ProxyJump flip

Host oldos1
    HostName oldos1.engr.oregonstate.edu
    User beerya
    LogLevel error
    ProxyJump flip

Host oldos2
    HostName oldos2.engr.oregonstate.edu
    User beerya
    LogLevel error
    ProxyJump flip

Host hpc 
    Hostname submit-a.hpc.engr.oregonstate.edu
    User beerya
    LogLevel error
    ProxyJump flip

Host pelican
    Hostname pelican.engr.oregonstate.edu
    User beerya
    LogLevel error
    ProxyJump flip
